.background {
 background-image: url("/retro_bg.jpg");
 height: 100vh;
 object-fit: cover;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.icon-button-container{
    padding: 16px 16px;
    width: fit-content;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
